:root {
    /* Light Mode (Default) */
    --bg-color: #fdfcfb;
    --text-color: #1a1e23;
    --primary-color: #ff8c03;
    --primary-hover: #e57e02;
    --secondary-color: #6c757d;
    --card-bg: #ffffff;
    --input-bg: #ffffff;
    --input-border: #e2e8f0;
    --button-text: #ffffff;
    --link-color: #ff8c03;
}
/*L IA modifico el backgroundColor de la card´s y no estaba siguiendo lo requerido*/
[data-theme='dark'] {
    /* Dark Mode */
    --bg-color: #383838;
    --text-color: #e0e0e0;
    --text-color-card: #ffffff;
    --primary-color: #ff8c03;
    --primary-hover: #ffa333;
    --secondary-color: #94a3b8;
    --card-bg: #464646;
    --input-bg: #ffffff;
    --input-border: #404040;
    --button-text: #ffffff;
    --link-color: #ffa333;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}