services:
  mariadb:
    image: mariadb:11
    container_name: BdMaria
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-root}
      MARIADB_DATABASE: ${DB_NAME:-reservas_db}
      MARIADB_USER: ${DB_USER:-app}
      MARIADB_PASSWORD: ${DB_PASSWORD:-app123}
    ports:
      - "3307:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - reservas_net
    healthcheck:
      test: [ "CMD", "mariadb-admin", "ping", "-h", "127.0.0.1", "-p${DB_ROOT_PASSWORD:-root}" ]
      interval: 5s
      timeout: 3s
      retries: 20

  bookings-service:
    build:
      context: ./services/bookings-service
      dockerfile: Dockerfile.dev
    environment:
      PORT: 3003
      DB_HOST: mariadb
      DB_PORT: 3306
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    ports:
      - "3003:3003"
    volumes:
      - ./services/bookings-service:/app
    networks:
      - reservas_net
    depends_on:
      mariadb:
        condition: service_healthy

networks:
  reservas_net:


volumes:
  mariadb_data:







