services:
  mariadb:
    image: mariadb:11
    container_name: BdMaria
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: reservas_db
      MARIADB_USER: app
      MARIADB_PASSWORD: app123
    ports:
      - "3307:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mariadb-admin", "ping", "-h", "127.0.0.1", "-proot" ]
      interval: 5s
      timeout: 3s
      retries: 20
    networks:
      - reservas_net

  auth-service:
    build:
      context: .
      dockerfile: Dockerfile.dev
    environment:
      NODE_ENV: production
      PORT: 3001
      DB_HOST: mariadb
      DB_PORT: 3306
      DB_USER: app
      DB_PASSWORD: app123
      DB_NAME: reservas_db
    ports:
      - "3001:3001"
    volumes:
      - ./:/app
      - /app/node_modules
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - reservas_net

networks:
  reservas_net:


volumes:
  mariadb_data:
